/*
 * Mobile layout
 */

 html {
    /* Override Bootstrap's default font-size */
    font-size: $base-font-pixel + px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    line-height: normal;
    z-index: 1;
}

.container--outer {
    margin: 0 auto;
    max-width: pxToRem(1390);
    padding: 0 pxToRem(30);
}

.container--inner {
    max-width: pxToRem(1220);
}

/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    body {
        z-index: 2;
    }
}

/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    
    body {
        z-index: 3;
    }
    
} 
