/*
 * Mobile layout
 */

.global-header,
.global-header#qg-site-header {
    
    background-color: $light-blue;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    &__inner {
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    &__top {
        padding: pxToRem(12) pxToRem(25) 0 pxToRem(25);
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    &__logo {

        padding: 0;

        svg {
            width: 100%;
            color: white;
            max-width: pxToRem(200);
            height: pxToRem(40);
        }
    }

    &__search,
    &__search#qg-search-form {
        padding: 0;
        display: none;
    }

    &__data-portal {
        
        width: 100%;
        margin: pxToRem(8) 0 0 0;

        a {
            color: $white;
            text-decoration: none;
            text-align: left;
            font-weight: 600;
            @include font-smoothing;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    &__mobile-button {

        button {
            @include clear-default-appearance;
        }

        .fa.fa-bars {
            color: $white;

            &:before {
                color: $white;
            }
        }

    }

    &__lower {
        width: 100%;
    }

}


/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    .global-header,
    .global-header#qg-site-header {

    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    .global-header,
    .global-header#qg-site-header {

        &__inner {
            padding: pxToRem(15) pxToRem(55) pxToRem(25) pxToRem(55);
            max-width: pxToRem($max-width--lrg); 
        }

        &__mobile-button {
            display: none;
        }

        &__logo {

            width: pxToRem(287);

            svg {
                width: pxToRem(287);
                max-width: 100%;
                height: pxToRem(55);
            }
        }

        &__top {
            width: 30%;
        }

        &__lower {
            width: 65%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            align-self: flex-end;
            margin: 0 0 pxToRem(5) 0;
        }

        &__data-portal {
            text-align: right;
        }

        &__search,
        &__search#qg-search-form {
            display: block;
            
            .input-group {
                @include sq-border-radius(5px);
                overflow: hidden;
                background: $white;
                border: 1px solid $light-grey;
            }

            input[type="text"]{
                border: none;
                height: pxToRem(44);
                font-size: pxToRem(16);
                line-height: 16px;

                &::-webkit-input-placeholder {
                    color: $light-grey;
                }
            
                &::-moz-placeholder { /* Firefox 19+ */
                    color: $light-grey;
                }
            
                &:-ms-input-placeholder { /* IE 10+ */
                    color: $light-grey !important;
                }
            
                &:-moz-placeholder { /* Firefox 18- */
                    color: $light-grey;
                }
            }

            input[type="submit"],
            #feature-search-submit,
            button[type="submit"] {
                border: none;
                height: pxToRem(44);
                background-color: $white;

                .fa {
                    color: $light-grey;
                }
            }
        }
    }
}
