/*
 * Mobile layout
 */

 .qg-location-info-widget {

    /* Widget located in header util bar */
    .qg-util-bar__widgets & {
        color: #fff;
        font-size: pxToRem(14);
        line-height: 1;
        padding-top: pxToRem(5);
        padding-bottom: pxToRem(5);
    }

    /* Widget located in footer nearest service center */
    .qg-site-footer-util__nearest-service-centre & {
        font-size: pxToRem(24);
        font-weight: 600;
    }

    .qg-site-footer-util__nearest-service-centre--has-result  & {

        /* Hide this if embedded in footer util bar and has result */   
        display: none;
        
    }

 }

.qg-location-info-widget__text {

    .qg-util-bar__widgets & {
        margin-bottom: 0;
    }

    .qg-site-footer-util__nearest-service-centre & {
        margin-bottom: pxToRem(35);
    }

}

.qg-location-info-widget__link-icon {
    white-space: nowrap;
}

.qg-location-info-widget__link {
    text-decoration: underline;
    cursor: pointer;
    
    &:hover,
    &:focus {
        text-decoration: none;
    }

    .qg-util-bar__widgets & {
        color: #fff;
    }

    .qg-site-footer-util__nearest-service-centre & {
        color: #000;
    }

}

.qg-location-info-widget__icon {
    vertical-align: middle;

    .qg-util-bar__widgets & {
        font-size: pxToRem(20);
        margin-left: pxToRem(5);
    }

    .qg-site-footer-util__nearest-service-centre & {
        font-size: pxToRem(20);
        margin-left: pxToRem(10);
    }

}

@media screen and (max-width: $desktop - 1px){

    .qg-location-info-widget {

        .mobile-nav-active & {
            display: none;
        }

    }

}


/*
 * Desktop layout
 */

@media screen and (min-width: $desktop) {

    .qg-location-info-widget {

        /* Widget located in header util bar */
        .qg-util-bar__widgets & {
            font-size: pxToRem(18);
            border-right: pxToRem(1) solid #fff;
            padding-right: pxToRem(10);
            margin-right: pxToRem(10);  
        }

    }

}

@media screen and (min-width: $desktop) and (max-width: 1399px) {

    .qg-location-info-widget {
       
        /* Hide widget if search form widget is active/hovered */
        .qg-util-bar__widgets.search-form-widget--focused &,
        .qg-util-bar__widgets.search-form-widget--hover & {
            display: none;
        }

    }

}
