/*
 * Mobile layout
 */

 #qg-primary-content {
    
    .qg-related-links {
        background-color: $dark-blue;
        margin-left: -$medium-spacing;
        margin-right: -$medium-spacing;
        padding: pxToRem(30);
    }

    .qg-related-links__heading {
        color: #fff;
        font-weight: 400;
        margin: 0 0 pxToRem(25) 0;
    }

    .qg-related-links__list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    .qg-related-links__item + .qg-related-links__item { 
        margin-top: pxToRem(20);
    }
    
    .qg-related-links__link {
        display: inline-block;
        display: flex;
        align-items: center;
    }
    
    a.qg-related-links__link:link {
        color: #fff;
        text-decoration: none;
    }

    .qg-related-links__arrow {

        display: inline-block;
        flex-shrink: 0;
        height: pxToRem(11);
        position: relative;
        width: pxToRem(14);
        margin-right: pxToRem(15);

        &:after,
        &:before {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            right: 0;
            top: 50%;
            width: 100%;
        }

        &:before {
            background-color: #fff;
            height: 2px;
            transform: translateY(-50%);
        }

        &:after {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: translateY(-50%) rotate(-45deg);
            width: 11px;
        }

    }
    
}

 /*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    
    #qg-primary-content {

        .qg-related-links {
            margin-left: inherit;
            margin-right: inherit;
        }

    }

}
