/*
 * Mobile layout
 */

 header.account-masthead {
    
    background-color: $dark-blue;
    width: 100%;
    border-bottom: 2px solid $light-blue;
    padding: 0;
    border: none;
    background-image: none;
    margin: 0;

    nav.account.not-authed ul.unstyled {
        @include sq-list-reset;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center;

        li {
            @include sq-list-reset;
            border: none;

            a {
                color: $white;
                text-decoration: none;
                font-size: pxToRem(16);
                line-height: pxToRem(16);
                @include sq-transition(background-color 0.4s ease);
                @include font-smoothing;
                font-weight: 600;
                height: pxToRem(44);
                min-width: pxToRem(44);
                display: flex;
                align-items: center;
                align-content: center;
                padding: 0 pxToRem(15);

                &:hover,
                &:focus {
                    color: $white;
                    background-color: $light-blue;
                }
            }
        }
    }
}


/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    header.account-masthead {
        
    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    
    header.account-masthead {

        nav.account.not-authed ul.unstyled {
    
            li {
                margin: 0 pxToRem(22) 0 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

}
