/*
 * Mobile layout
 */

.qg-dfv-cards--type-helplines {

    .card-container {
        padding: 0 pxToRem(7) 0;
        margin-bottom: pxToRem(15);
    }

    .card {
        border: 0;
        background-color: #ddecf1;
        height: 100%;
        box-shadow: 0px 11px 16px -13px rgba(0,0,0,0.37);
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-link {
        margin-top: auto;
    }

}

/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){

    .qg-dfv-cards--type-helplines {

        .card-container {
            min-height: pxToRem(340);
            padding: 0 pxToRem(15) 0;
            margin-bottom: pxToRem(30);
        }

    }

}
