.navbar-collapse.collapse {
    //Menu Collapsed state
    &:not(.in, .show) { display: none !important; }

    //Menu Open state
    &.in, &.show { display: block !important; }
}

.header-image.pull-left {
    float: none !important;
}
