/*
 * Mobile layout
 */

 .nav-collapse.collapse,
 .nav-collapse {

    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: pxToRem(139);
    z-index: 150;


    .section.site-search.simple-input {
        padding: 0;
        display: none;
        max-width: 25%;
        margin: 0;
    }

    nav,
    nav.navigation {
        padding: 0;
        width: 100%;
        background: $dark-grey;
        float: left;
        margin: 0;

        ul,
        ul.nav,
        ul.nav.nav-pills {
            @include sq-list-reset;
            list-style-type: none !important;
            padding: 0;
            float: left;
            width: 100%;

            li {
                @include sq-list-reset;
                list-style-type: none !important;
                text-align: left;
                width: 100%;
                display: block;
                line-height: pxToRem(18);
                float: left;
                display: flex;
                justify-content: center;

                &:nth-child(2n) {
                    
                    background-color: $medium-grey;

                    a {
                    
                        &:focus,
                        &:hover {
                            color: $white;
                            background-color: transparent;
                            @include sq-border-radius(0);
                        }
                    }
                }

                &.active,
                &.current {
                    a {
                        text-decoration: underline;
                        @include sq-border-radius(0);
                    }
                }

                a {
                    @include sq-transition(color 0.4s ease);
                    @include font-smoothing;
                    color: $white;
                    text-decoration: none;
                    padding: pxToRem(15) pxToRem(25);
                    font-weight: 600;
                    width: 100%;
                    float: left;
                    display: block;
                    margin: 0;
                    background-color: transparent;
                    max-width: pxToRem(730);

                    &:focus,
                    &:hover {
                        text-decoration: underline;
                        @include sq-border-radius(0);
                        color: $white;
                    }
                }
            }
        }
    }

}


/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    
    .nav-collapse.collapse {
        top: pxToRem(95);
    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    
    .nav-collapse.collapse {

        width: 75%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        align-self: flex-end;
        padding: 0;
        order: 1;
        position: relative;
        top: 0;

        .section.site-search.simple-input {

            background: $white;
            @include sq-border-radius(5px);
            background: $white;
            border: 1px solid $light-grey;
            position: relative;
            display: block;
            margin: 0;
            width: 20%;


            .field {
                display: flex;
                flex-flow: row nowrap;
                align-content: center;
                align-items: center;
                width: 100%;
            }

            ul.listbox {
                position: absolute;
                top: pxToRem(46);
                width: 100%;
                @include sq-border-radius(5px);
                border: none;
                left: 0;

                li {
                    a {
                        width: 100%;
                        display: block;
                        padding: pxToRem(7);

                        &:hover,
                        &:focus {
                            background: none;
                            color: $black;
                            text-decoration: none;
                        }
                    }
                }
            }

            input[type="text"]{
                border: none;
                height: pxToRem(44);
                font-size: pxToRem(16);
                line-height: 16px;
                width: 80%;
                @include sq-border-radius(5px 0 0 5px);
                margin: 0;
                padding: pxToRem(10) pxToRem(10);



                &::-webkit-input-placeholder {
                    color: $light-grey;
                }
            
                &::-moz-placeholder {
                    color: $light-grey;
                }
            
                &:-ms-input-placeholder {
                    color: $light-grey !important;
                }
            
                &:-moz-placeholder {
                    color: $light-grey;
                }

                &::-ms-clear {
                    display: none;
                }
            }


            button[type="submit"] {
                position: relative;
                top: 0;
                right: 0;
                left: 0;
                border: none;
                height: pxToRem(44);
                background-color: $white;
                padding: 0;
                width: 20%;
                @include sq-border-radius(0 5px 5px 0);
                margin: 0;
                @include clear-default-appearance;

                &:hover,
                &:focus {
                    outline: 0;

                    .fa {
                        color: $black;
                    }
                }

                .fa {
                    color: $light-grey;
                    @include sq-transition(color 0.4s ease);
                }
            }
        }

        nav.navigation {
            padding: 0;
            background: transparent;
            display: block !important;
            width: 80%;
            position: relative;
            left: 0;
            top: 0;

            ul,
            ul.nav,
            ul.nav.nav-pills {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                flex-flow: row nowrap;
                @include sq-list-reset;

                li {
                    width: auto;
                    @include sq-list-reset;
                    

                    &:nth-child(2n) {
                        
                        background-color: transparent;

                        a {
                            &:hover,
                            &:focus {
                                background-color: $white;
                                color: $light-blue;
                            }
                        }
                    }

                    &:focus,
                    &:hover,
                    &.active,
                    &.current {
                        a {
                            background-color: $white;
                            color: $light-blue;
                            @include sq-border-radius(3px);

                            &:focus,
                            &:hover {
                                color: $light-blue;
                                @include sq-border-radius(3px);
                                text-decoration: none;
                            }
                        }

                    }

                    a {
                        padding: pxToRem(14) pxToRem(5);
                        width: auto;
                        @include sq-transition(background-color 0.4s ease);
                        font-size: pxToRem(16);
                        line-height: pxToRem(16);

                        &:focus,
                        &:hover {
                            color: $white;
                            @include sq-border-radius(3px);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
