/*
 * Mobile layout
 */

h1, h2 {
    color: $dark-blue;
}

h1 {
    font-size: 30px;
    padding-left: $small-spacing;
}

h2 {
    font-size: 20px;
}

.qg-page-introduction {
    p {

    }
}


/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    .common__wrapper {

    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    h1 {
        font-size: 39px;
        padding-left: $medium-spacing;
    }

    h2 {
        font-size: 24px;
    }
}
