// Base font
$base-font-scale: 1;  // The font scale multiplier (e.g. 2 = 32px/2em/2rem)
$base-font-pixel: 16; // Used for font size calculations & conversions
$base-font-colour: #4a4a4a;

// Selection highlighting
$content-selection-highlight: #b3d4fc;

// Default breakpoints
$tablet: 768px;
$desktop: 1300px;

$max-width--lrg: 1327;

// Colours
$white:         #ffffff;
$black:         #000000;
$light-purple:  #f4ebf5;

$dark-blue:     #0C2E4C;
$light-blue:    #007EB1;
$lightest-grey: #E9E9E9;
$light-grey:    #767676;
$light-grey-2: #778B9C;
$lighter-grey:  #737373;
$medium-grey:   #505050;
$dark-grey:     #494949;
