/*
 * Mobile layout
 */

header.navbar.navbar-static-top.masthead {
    
    background-color: $light-blue;
    margin: 0;
    padding: pxToRem(10) 0 0 0;

    > .container {
        display: flex;
        align-content: center;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        max-width: pxToRem(724);
        width: 100%;
        padding: 0;
    }

    .header-image.pull-left {

        padding: 0;
        order: 0;
        padding-left: pxToRem($padding);

        svg {
            width: 100%;
            color: white;
            max-width: pxToRem(200);
            height: pxToRem(40);
        }
    }

    .header__data-portal {
        
        width: 100%;
        margin: pxToRem(8) 0 pxToRem(10) 0;

        a {
            color: $white;
            text-decoration: none;
            text-align: left;
            font-weight: 600;
            @include font-smoothing;
            font-size: pxToRem(14);
            line-height: pxToRem(16);

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    .btn.btn-navbar {
        background-color: transparent;
        padding: 0;
        margin: 0 pxToRem(20) 0;
        order: 2;
        width: pxToRem(44);
        height: pxToRem(44);

        .fa {
            font-size: pxToRem(26);
            line-height: pxToRem(26);
        }
    }

}


/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    header.navbar.navbar-static-top.masthead {
        position: relative;
        > .container {
            position: static;
        }
    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    header.navbar.navbar-static-top.masthead {

        padding: pxToRem(10) 0 pxToRem(20) 0;

        > .container {
            max-width: pxToRem(940);
            position: relative;
        }

        .header-image.pull-left {
            order: 0;
            padding-left: 0;
        }

        .header__data-portal {
            text-align: right;
            margin-bottom: 0;
        }

    }
}
