/*
 * Mobile layout
 */

li#qg-breadcrumb__ellipses {
    display: none;
}

/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    
    li#qg-breadcrumb__ellipses {
        display: inline-block;
    }

    #qg-breadcrumb .hide-breadcrumb {
        display: none;
    }

}
