/*
 * Mobile layout
 */

.common__wrapper {

}


/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    .common__wrapper {

    }
}


/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){

    .services-homepage-banner {
        
        background-color: green;
        height: pxToRem(385);
        padding-top: pxToRem(40);
        
    }

    .services-homepage-banner--heading {
        background-color: blue;
        border-radius: 0 pxToRem(15) pxToRem(15) 0;

        color: #fff;
        display: inline-block;
        font-size: pxToRem(35);
        font-weight: 700;
        margin: 0;
        padding: pxToRem(40) pxToRem(70) pxToRem(30) pxToRem(55);
    }

}
