//#VARIABLES 

    //Static Map
    $static-colors: (
        "grey-0"    : #FAFAFA,
        "grey-45"   : #F5F5F5,//Squiz top menu background
        "grey-50"   : #DEE2E6,
        "grey-100"  : #c2c2c2,
        "grey-300"  : #A6A6A6,
        "grey-500"  : #555555,
        "grey-800"  : #888888,
        "blue-50"   : #00C0FF,
        "blue-100"  : #0090BF,
        "blue-200"  : #00649e,//Squiz Active CTA
        "blue-300"  : #0774d2,//Squiz Active Input
        "blue-600"  : #26324b,
        "orange"    : #e96900,//bootstrap warning variant
        "red-200"   : #FC4F4F,
        "red-300"   : #dc3545,//bootstrap danger variant
        "yellow-200": #FFCF00,
    );
    
    //Matrix CCT Color Coding Map
    $matrix-colors: (
        "grey"      : #707070,
        "blue"      : #007bff,
        "purple"    : #6f42c1,
        "pink"      : #e83e8c,
        "red"       : #dc3545,
        "orange"    : #fd7e14,
        "yellow"    : #e9af00,//#ffc107,
        "green"     : #28a745,
    );
    
    :root {
        //Output Static Colors
        @each $name, $value in $static-colors {
            --#{$name}: #{$value};
        }
    
        //Output Matrix Colors + Lighten 
        @each $name, $value in $matrix-colors {
            --#{$name}-mx: #{$value};
            
            // Check if name is yellow to set opacity to 0.4, otherwise 0.2
            $opacity: if(sass($name == "yellow"): 0.3; else: 0.2); //if($name == 'yellow', 0.3, 0.2);
            
            --#{$name}-mx-light: #{rgba($value, $opacity)};
        }
    }

    
    //# Generate Classes
        
        //Generates mx classes
        @each $name, $value in $matrix-colors {
          .bg-mx-#{$name} {
            background-color: var(--#{$name}-mx)!important;
          }
          .bg-mx-#{$name}-light {
            background-color: var(--#{$name}-mx-light)!important;
          }
          .color-mx-#{$name} {
            color: var(--#{$name}-mx)!important;
          }
        }
        
        