//#SECTION ORDER
    
    .cct-admin{

        .sq-backend-table.sq-sortable-table {
            border:0;
            table-layout: fixed; //ellipsis enabler
            
            .sq-sortable-dragging{
                border: 0;
                background:none;
                overflow:hidden;
                
                //draggable row
                td.sq-sortable-dragging__row{
                    overflow:hidden;
                    padding: 0.625rem 0 0.0625rem 0;
                    position: relative;
                    border:0;
                    //contain: content;
                    
                    .sq-draggable-column{
                        display:none;   
                    }
                    
                }
                
                                
                
            }
        
        }
        
        &--sortable{
            .sq-backend-table.sq-sortable-table {
                .sq-sortable-dragging{
                        
                    td.sq-sortable-dragging__row{
                        .sq-backend-section-subheading{
                            padding-left: 30px!important;
                        }
                        //dragging column
                        .sq-draggable-column{
                            width: 30px; 
                            padding: 0px; 
                            position:absolute;
                            height:42px;
                            left:0;
                            //top:20px;
                            //margin-top:10px;
                            cursor: grab;
                            text-align: center;
                            display: flex; 
                            justify-content: center;
                            align-items: center;
                            z-index:1;
        
                            //drag handle icon
                            &:hover{
                                svg{
                                    fill: var(--grey-500);
                                }
                            }
                                
                            svg{
                                width:24px;
                                height:24px;
                                fill: var(--grey-300);
                                transition: fill 0.2s ease-in-out;
                            }
                        }
                    }
                    
                    
                    //moving
                    &.ui-sortable-helper{
                        //containing td
                        .sq-sortable-dragging__row{
                            padding: 0 10px;
                           // margin-top:10px;
                            top:10px;
                            display: block !important;//it is out of table during dragging, floating with position:absolute, use block to maintain ellipsis
                        }
                        //section head
                        .sq-backend-section-subheading{
                            cursor: grabbing;
                            color: var(--grey-500);
                            background-color: #ffffff!important;
                            &:after{
                                border-top: 2px solid var(--grey-500);
                                border-right: 2px solid var(--grey-500);
                            }
                            &:hover{
                                &:after{
                                    border-top: 2px solid var(--grey-500);
                                    border-right: 2px solid var(--grey-500);
                                }
                            }
                        }
                        //drag handle
                        td.sq-sortable-dragging__row .sq-draggable-column{
                            left: 10px;
                            cursor: grabbing;
                            //margin-top:-10px;
                                &:hover{
                                    svg{
                                        fill: var(--blue-100);
                                    }
                                }
                            svg{
                                fill: var(--blue-100);
                            }
                        }
        
                    }
                    
                }
                
                //Border Animation
                @mixin marching-ants($px) {
                  
                  @keyframes march-#{$px} {
                    from {
                      background-position: 
                        0 0,      // Top
                        0 100%,   // Bottom
                        0 0,      // Left
                        100% 0;   // Right
                    }
                    to {
                      background-position: 
                        #{$px} 0,           // Top
                        #{-$px} 100%,       // Bottom
                        0 #{-$px},          // Left
                        100% #{$px};        // Right
                    }
                  }
                
                  animation: march-#{$px} 2s linear infinite;
                }
                
                //placeholder
                .sq-sortable-placeholder{
                    display: flex;
                    background:transparent;
                    border: 0;
        
                    td{
                        display: block; 
                        position: relative;
                        flex: 1;
                        //padding-top:10px;
                        border: 0;
                        cursor: grabbing;//horizontal gap
        
                        &:after{
                            position:absolute;
                            content:' ';
                            width:100%;
                            height:calc(100% - 10px);
                            top:10px;
                            left:0;
                            border-radius: 4px;
                            overflow:hidden;
                            background-color: var(--grey-0);
                
                            //gradient border
                                $dash-color: var(--grey-300);
                                $dash-gap: rgba(255,255,255,0);
                                $dash-ratio: 70%; // Dash vs Gap
                                
                                //gradients
                                $grad-h: linear-gradient(to right, $dash-color $dash-ratio, $dash-gap 0%);
                                $grad-v: linear-gradient(to bottom, $dash-color $dash-ratio, $dash-gap 0%);
                                
                                background-image: 
                                    $grad-h, $grad-h, // Top, Bottom
                                    $grad-v, $grad-v; // Left, Right
                                
                                /* (Dash Width x Border Thickness) for horizontal, vice versa for vertical */
                                $border-thickness: 1px;
                                $dash-length: 20px;
                                background-size: 
                                    $dash-length $border-thickness, // Top (H)
                                    $dash-length $border-thickness, // Bottom (H)
                                    $border-thickness $dash-length, // Left (V)
                                    $border-thickness $dash-length; // Right (V)
                                
                                background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                                
                                //Fix Alignment: Use keywords to lock them to the extreme edges
                                background-position: 
                                    0 0,                                    // Top
                                    0 calc(100% + #{$border-thickness}),    // Bottom
                                    0 0,                                    // Left  
                                    100% 0;                                 // Right
                                
                                //animate border    
                                @include marching-ants(40px);
    
                        }
                    }
                }
    
            }
        }
    }
    
    