//#Tooltip 

    [data-tippy-root]{
        svg{
            width:1rem;
            height:1rem;
            margin-left:0.25rem;
            fill: currentColor;
            margin-bottom:0.125rem;
        }
    }