//#VISIBILITY TOGGLE
    
    .cct-admin{
        
        .slide-area {
            overflow: hidden;
            will-change: max-height, opacity; 
            box-sizing: border-box;
            transition-property: max-height, opacity;
            
            &.is-opening{
                transition-timing-function: linear, ease-out;
                opacity:1;
            }
            
            &.is-closing{
                transition-timing-function: linear, ease-in;
                max-height: 0;
                opacity:0;
            }
        } 
        

    }
    