//#MODAL

    .cct-admin{
        
        &__modal{
            /* Sticky positioning to stick to the scroll parent */
            position: sticky !important;
            top: 0;
            left: 0;
            z-index: 1060;
            
            /* Fill the viewport height*/
            height: 100vh;
            
            /* Flexbox to center the modal content */
            display: flex !important;
            align-items: center;
            justify-content: center;
            
            /* Backdrop styling */
            background: rgba(0, 0, 0, 0.4);
            pointer-events: auto;
            
            &__popup{
                max-width: 700px; 
                padding: 0px!important; 
                background: #fff;
            }
            
            &__actions{
                gap: 1rem;
            }
        }
    }
     
    //Save anyway button
    .cct-btn-hover-danger{
        &:hover {
            background-color: var(--red-300)!important;
            color: white !important;
            text-decoration: none;
          }
    }
        
        