/*
 * Mobile layout
 */

.social-aside {
    padding: 0 0 pxToRem(30) 0;
    float: left;
    width: 100%;
    margin: 0 pxToRem(-15);

    ul {
        @include sq-list-reset;

        li {
            @include sq-list-reset;
            width: 100%;

            a {
                display: block;
                font-size: pxToRem(16);
                line-height: pxToRem(18);
                font-weight: 500;
                color: $black;
                text-decoration: none;
                padding: pxToRem(15) pxToRem(15);
                @include sq-transition(background-color 0.4s ease);
                width: 100%;

                &:hover,
                &:focus {
                    background-color: $light-grey-blue;
                    font-weight: 700;
                    
                    .fab,
                    .fa {
                        font-weight: 400;
                    }
                }
            }

            .fa {
                text-align: center;
                margin-right: pxToRem(5);
                width: pxToRem(25);
                font-size: pxToRem(21);
                display: inline-block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
}


/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    .social-aside {
        margin: 0;
        padding: pxToRem(30) 0;
    }
}
